<div fxFlex="100" style="height:100vh;">
  <header class="no-print patientslist-heading" fxLayout="row" fxLayoutAlign="center center" *ngIf="page.reciept===false">
    <h1 class="no-print patientslist-headings">
      Patients</h1>
  </header>
  <div style="height:65%">
    <bh-patientsall [patients]="page.patientslist" (selected)="outflow($event)" *ngIf="page.status===true"></bh-patientsall><bh-details [patient]="page.datas" (changedstatus)="detailedoutflow($event)" *ngIf="page.detailed===true"></bh-details><bh-reciept [datas]="page.datas" (recieptstatus)="recieptflow($event)" *ngIf="page.reciept===true"></bh-reciept>
  </div>
</div>