<div style="display:flex;justify-content:center;">
  <bh-editing_modal [editData]="page?.editData" (closeModal)="setShowModal(&apos;close&apos;)" *ngIf="page?.showEditComponent==true"></bh-editing_modal>
  <div fxLayout="column wrap" class="department-list-table" fxFlex="95" fxLayoutAlign="space-between stretch" [fxShow]="true">
    <div fxLayout="row wrap" style="background-color:rgba(0, 0, 0, 0.3);" class="department-list-rows" fxLayoutAlign="space-between center" [fxShow]="true">
      <h3>
        Id</h3>
      <h3>
        Department</h3>
      <h3>
        Action</h3>
    </div>
    <div fxLayout="row wrap" style="background-color:rgba(0, 0, 0, 0.1);" class="department-list-rows" fxLayoutAlign="space-between center" [fxShow]="true" *ngFor="let data of page?.departments">
      <p style="text-align:center">
        {{data?.id}}
      </p>
      <p style="text-align:center">
        {{data?.name}}
      </p>
      <div style="display:flex;justify-content:center;">
        <button mat-raised-button class="departments-list-edit-button" (click)="setShowModal(&apos;open&apos;,data)">Edit</button>
      </div>
    </div>
  </div>
</div>