<div style="width:100%">
  <div fxLayoutAlign="center center" fxLayout="row" class="doctor-heading">
    <h1 class="dep-doc-headings">
      {{page.locales.keys.ADD_DOCTOR}}
    </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" style="padding-top:4px;padding-right:4px">
    <button mat-button class="departments-list-button" *ngIf="page?.pageOfDoctor==&apos;listDoctors&apos;" (click)="setPage(&apos;addDoctor&apos;)">Add Doctor</button><button mat-button class="departments-list-button" *ngIf="page?.pageOfDoctor==&apos;addDoctor&apos;" (click)="setPage(&apos;listDoctors&apos;)">Doctors</button>
  </div><bh-doctor_list *ngIf="page?.pageOfDoctor==&apos;listDoctors&apos;"></bh-doctor_list>
  <form fxLayout="row" fxLayoutAlign="center center" [formGroup]="page.addForm" *ngIf="page?.pageOfDoctor==&apos;addDoctor&apos;" class="add-doctor-form" method="POST" (ngSubmit)="submitForm()">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

        <mat-form-field class="add-doctor-input" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="name" type="text" placeholder="Name" [required]="true" formControlName="name">
          <mat-error align="start" *ngIf="page.addForm.get(&apos;name&apos;)?.errors?.required">Name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="add-doctor-input" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="phone" type="number" placeholder="Phone" [required]="false" formControlName="phone_no">
          <mat-error align="start" *ngIf="page.addForm.get(&apos;phone_no&apos;)?.errors?.required">Phone is required</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

        <mat-form-field style="width:100%;" class="add-doctor-input" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="address" type="text" placeholder="Address" [required]="true" formControlName="address">
          <mat-error align="start" *ngIf="page.addForm.get(&apos;address&apos;)?.errors?.required">Address is required</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

        <mat-form-field class="add-doctor-input" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="education" type="text" placeholder="Education" [required]="true" formControlName="education">
          <mat-error align="start" *ngIf="page.addForm.get(&apos;education&apos;)?.errors?.required">Education is required</mat-error>
        </mat-form-field>
        <mat-form-field class="add-doctor-input" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="age" type="date" placeholder="DOB" [required]="false" formControlName="dob">
          <mat-error align="start" *ngIf="page.addForm.get(&apos;dob&apos;)?.errors?.required">DOB is required</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

        <mat-form-field class="add-doctor-input" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="email" placeholder="Email" [required]="false" formControlName="email">
          <mat-error align="start" *ngIf="page.addForm.get(&apos;email&apos;)?.errors?.required">Email is required</mat-error>
        </mat-form-field>
        <mat-form-field class="add-doctor-input" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="maxTokens" type="number" placeholder="Max Tokens" [required]="false" formControlName="token_limit">
          <mat-error align="start" *ngIf="page.addForm.get(&apos;token_limit&apos;)?.errors?.required">Max Tokens is required</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-form-field class="add-doctor-input" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
          <mat-label>Department</mat-label>
          <mat-select formControlName="department_id" placeholder="Department" [required]="false">
            <ng-template ngFor let-option [ngForOf]="page.departments" let-i="index">
              <mat-option [value]="option.id">{{option.name}}</mat-option>
            </ng-template>
          </mat-select>
          <mat-error align="start" *ngIf="page.addForm.get(&apos;department_id&apos;)?.errors?.required">Department is required</mat-error>
        </mat-form-field>
        <mat-form-field class="add-doctor-input" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="salary" type="number" placeholder="Salary" [required]="false" formControlName="salary">
          <mat-error align="start" *ngIf="page.addForm.get(&apos;salary&apos;)?.errors?.required">salary is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-button class="add-doctor-button" type="submit">submit</button>
      </div>
    </div>
  </form>
</div>